<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>

    <style>
        :root {
            {% for key, value in theme.items() %}
            --{{ key }}: {{ value }};
            {% endfor %}
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block head %}{% endblock %}
</head>
<body>
    <header class = "site-header">
        <a class ="brand" href="{{ url_for('index') }}">{{ site_name }}</a>
        <nav>
            {% for label, endpoint in nav_links %}
                <a href="{{ url_for(endpoint) }}">{{ label }}</a>
            {% endfor %}
        </nav>
        <button id="theme-toggle" aria-label="Toggle light/dark mode">🌓</button>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p> Built by {{ my_name }} - {{ tagline }}</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>